{% extends 'base.html.twig' %}

{% block title %}BorrowBook{% endblock %}

{% block body %}
    <h1>BorrowBook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ borrow_book.id }}</td>
            </tr>
            <tr>
                <th>BorrowDate</th>
                <td>{{ borrow_book.borrowDate ? borrow_book.borrowDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ReturnDate</th>
                <td>{{ borrow_book.returnDate ? borrow_book.returnDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button><a href="{{ path('app_borrow_book_index') }}" style="text-decoration: none;">back to list</a></button>

    <button><a href="{{ path('app_borrow_book_edit', {'id': borrow_book.id}) }}" style="text-decoration: none;">edit</a></button>

    {{ include('borrow_book/_delete_form.html.twig') }}
{% endblock %}
